<h1>File parsed: "<%=@filename%>"!</h1>

<h2>Content:</h2>
<pre id="content">
    <%=@parsed_file%>
</pre>
<script>
    var content = document.getElementById("content");
    var obj = JSON.parse(content.innerHTML);
    content.innerHTML = JSON.stringify(obj,undefined, 4);
</script>
